 <!-- Chart library -->
  <script src="/assets/plugins/chart.min.js"></script>
  <!-- Icons library -->
  <script src="/assets/plugins/feather.min.js"></script>
  <!-- Custom scripts -->
  <script src="/assets/js/script.js"></script>
</body>

</html>