<!-- Chart library -->
<script src="/assets/plugins/chart.min.js"></script>
<!-- Icons library -->
<script src="/assets/plugins/feather.min.js"></script>
<!-- Custom scripts -->
<script src="/assets/js/script.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
<script>
</script>
</body>

</html>